@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background-color: #121212;
  padding: 10px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-logo i {
  font-size: 24px;
  color: #1db954;
}

.nav-library {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-library i,
.nav-library p {
  font-size: 14px;
  color: #b7b3b6;
  cursor: pointer;
}

.nav-playlist,
.nav-podcast {
  background-color: #242424;
  padding: 16px;
  border-radius: 16px;
}

.nav-playlist button,
.nav-podcast button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 6px 10px;
  margin-top: 16px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 20px;
  transition: transform 0.1s;
}

.nav-playlist button:hover,
.nav-podcast button:hover {
  transform: scale(1.1);
}

.nav-futter {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-futter a {
  color: #a7a7a7;
  text-decoration: none;
  font-size: 12px;
  margin: 12px;
  margin-bottom: 8px;
}

.nav-leng-button {
  background-color: transparent;
  border: 1px solid #6e6e6e;
  padding: 8px 12px;
  margin-top: 16px;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  transition: transform 0.2s;
  line-height: 1px;
}

.nav-leng-button:hover {
  transform: scale(1.05);
  border: 1px solid #fff;
}

main {
  padding: 24px;
  flex-grow: 1;
  overflow-y: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #242424;
  padding: 8px 16px;
  border-radius: 20px;
  width: 300px;
}

.search-bar input {
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
  margin-left: 10px;
  outline: none;
}

.content a {
  font-size: 18px;
  margin-bottom: 20px;
}

.content a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.artists-grid,
.albums-grid,
.paradas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px;
  margin-bottom: 40px;
}

.artist-card,
.album-card,
.paradas-card {
  background-color: #181818;
  margin-top: 10px;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.artists-grid.carrossel-track,
.albums-grid.carrossel-track,
.paradas-grid.carrossel-track {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carrossel-track::-webkit-scrollbar {
  display: none;
}

.artist-card,
.album-card,
.paradas-card {
  flex: 0 0 calc((100% - 96px) / 5);
}

.artist-card:hover,
.album-card:hover,
.paradas-card:hover {
  background-color: #282828;
}

.artist-card::after,
.album-card::after,
.paradas-card::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 60%;
  transform: translateY(-50%);

  width: 40px;
  height: 40px;

  background-image: url('https://img.icons8.com/sf-regular-filled/48/play.png');
  background-color: #39db72;
  background-size: 18px 18px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;

  transition: opacity 0.1s ease;
  opacity: 0;
}

.artist-card:hover::after,
.album-card:hover::after,
.paradas-card:hover::after {
  opacity: 1;
}

.artist-card img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 26px;
  max-height: 70%;
}

.album-card img {
  width: 100%;
  border-radius: 8%;
  margin-bottom: 26px;
  max-height: 70%;
}

.paradas-card img {
  width: 100%;
  border-radius: 8%;
  margin-bottom: 26px;
  max-height: 70%;
}

.artist-card h3,
.album-card h3,
.paradas-card h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.artist-card p,
.album-card p,
.paradas-card p {
  font-size: 14px;
  color: #b7b3b6;
}

.paradas-card p {
  max-width: 220px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
}

.content {
  margin-top: 40px;
}

.content h2 {
  margin-bottom: 10px;
}

.carrossel {
  position: relative;
}

.carrossel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  background-color: #2a2a2a;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 8px;
  opacity: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.anterior {
  left: -12px;
}

.proximo {
  right: -12px;
}

.carrossel-btn:hover {
  transform: translateY(-50%) scale(1.1);
  background-color: #3a3a3a;
}

.carrossel-btn img {
  width: 15px;
  height: 15px;
  filter: brightness(0) invert(1);
}

.carrossel-btn {
  opacity: 0;
  pointer-events: none;
}

.carrossel:hover .carrossel-btn:not(:disabled) {
  opacity: 1;
  pointer-events: auto;
}

.carrossel-btn:disabled {
  opacity: 0;
  cursor: not-allowed;
  pointer-events: none;
}

.carrossel:hover .carrossel-btn:disabled {
  opacity: 0.25;
}

.banner {
  position: fixed;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  padding: 8px 14px;
  justify-content: space-between;
  background: linear-gradient(90deg, #af2896, #509bf5);
}

.content h2 {
  font-size: 14px;
}

.content p {
  font-size: 10px;
}

.banner button {
  border-radius: 20px;
  color: #000;
  border: none;
  padding: 12px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}

.fechar-banner {
  position: absolute;
  top: -12px;
  right: -12px;
  background: transparent;
  border: 0;
  font-size: 24px;
  cursor: pointer;
}

.banner > button:not(.fechar-banner) {
  margin-right: 12px;
}

.banner.escondida {
  display: none;
}

.banner button:hover {
  transform: scale(1.05);
}
